.main {
  width: 100%;
  margin-bottom: 81px;
}

.main__title {
  width: 760px;
  margin: 27px auto;
  color: var(--dark);
  font-size: 99px;
  line-height: 155px;
  font-weight: 600;
  text-align: center;
}

.main__text {
  width: 600px;
  margin-bottom: 100px;
  color: var(--dark);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.main img {
  height: 100%;
  border-radius: 10px;
  margin: 47px auto 86px;
  object-fit: contain;
}

.main__intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 98px;
}

.main__intro_wrapper {
  width: 800px;
}

.main__intro h2 {
  max-width: 230px;
  margin: 0;
  color: var(--dark);
  font-size: 38px;
  line-height: 50px;
  font-weight: 600;
}

.main__intro p {
  color: var(--dark);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-indent: 16px;
  margin-bottom: 14px;
}

.main__team {
  display: flex;
  flex-direction: column;
}

.main__team h3 {
  margin-bottom: 20px;
  color: var(--dark);
  font-size: 43px;
  line-height: 56px;
  font-weight: 600;
}

.main__team h4 {
  margin: 0 0 28px;
  color: var(--dark);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  opacity: 0.3;
}

.main__team_wrapper {
  display: flex;
  justify-content: space-evenly;
}

.main__team_wrapper img {
  width: 195px;
  height: 286px;
  border-radius: 10px;
  margin: 0 0 15px;
  object-fit: cover;
}

.main__team_wrapper p {
  color: var(--dark);
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  opacity: 0.5;
}

.main__team_socialnet {
  display: flex;
}

.main__team_socialnet img {
  width: 40px;
  height: 40px;
  margin: 20px 10px 0 0;
  object-fit: cover;
}

.main__team_wrapper > div:hover p {
  opacity: 1;
}

.main__form {
  padding: 30px;
  border-radius: 10px;
  margin: 80px 0 0;
  background: var(--bg-form);
}

.main__form h3 {
  margin-bottom: 10px;
  color: var(--white);
}

.main__form p {
  margin-bottom: 15px;
  color: var(--grey);
}

.main__form_input {
  display: flex;
}

.main__form_input input {
  width: 100%;
  height: 48px;
  padding-left: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.main__form_input button {
  width: 30%;
  height: 48px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-left: 16px;
  background: var(--grey);
  color: var(--bg-form);
}

@media only screen and (min-width: 1281px) and (max-width: 1920px) {
  .main__title {
    font-size: 70px;
    line-height: 75px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1280px) {
  .main__title {
    font-size: 56px;
    line-height: 73px;
  }

  .main__intro h2 {
    font-size: 35px;
    line-height: 46px;
  }

  .main__intro_wrapper {
    width: 645px;
  }

  .main__team_wrapper img {
    height: 250px;
  }

  .main__team h3 {
    font-size: 35px;
    line-height: 46px;
  }

  .main__team_socialnet {
    display: flex;
  }

  .main__team_socialnet img {
    width: 40px;
    height: 40px;
    margin: 20px 10px 0 0;
    object-fit: cover;
  }
}
@media only screen and (min-width: 835px) and (max-width: 1200px) {
  .main__title {
    font-size: 54px;
    line-height: 70px;
    letter-spacing: -2px;
  }

  .main__intro h2 {
    font-size: 35px;
    line-height: 46px;
    margin-bottom: 24px;
  }

  .main__team_wrapper {
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 30px;
  }

  .main__team_wrapper img {
    height: 220px;
  }

  .main__team h3 {
    font-size: 35px;
    line-height: 46px;
  }

  .main__intro {
    display: block;
  }

  .main__intro_wrapper {
    width: 100%;
  }

  .main__team_socialnet {
    display: flex;
  }

  .main__team_socialnet img {
    width: 40px;
    height: 40px;
    margin: 20px 10px 0 0;
    object-fit: cover;
  }
}
@media only screen and (min-width: 391px) and (max-width: 834px) {
  .main__title {
    width: 100%;
    font-size: 45px;
    line-height: 59px;
    letter-spacing: -2px;
  }

  .main__intro h2 {
    font-size: 34px;
    line-height: 44px;
    margin-bottom: 24px;
  }

  .main__text {
    width: 100%;
  }

  .main__team h3 {
    font-size: 34px;
    line-height: 44px;
  }

  .main__team_wrapper {
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 30px;
  }

  .main__team_wrapper img {
    width: 200px;
    height: 220px;
  }

  .main__intro {
    display: block;
  }

  .main__intro_wrapper {
    width: 100%;
  }

  .main__team_socialnet {
    display: flex;
  }

  .main__team_socialnet img {
    width: 40px;
    height: 40px;
    margin: 20px 10px 0 0;
    object-fit: cover;
  }

  .main__form_input {
    display: block;
  }

  .main__form_input button {
    width: 50%;
    margin: 20px 0 0;
  }
}
@media only screen and (max-width: 746px) {
  .main__title {
    width: 100%;
    font-size: 43px;
    line-height: 56px;
    letter-spacing: -2px;
  }

  .main__team_socialnet {
    display: flex;
  }

  .main__team_socialnet img {
    width: 40px;
    height: 40px;
    margin: 20px 10px 0 0;
    object-fit: cover;
  }

  .main__form_input {
    display: block;
  }

  .main__form_input button {
    width: 50%;
    margin: 20px 0 0;
  }
}

@media only screen and (max-width: 491px) {
  .main__team_wrapper > div {
    width: 100%;
  }

  .main__team_wrapper img {
    width: 100%;
  }

  .main__team_wrapper p {
    font-size: 18px;
  }

  .main__team_socialnet {
    display: flex;
  }

  .main__team_socialnet img {
    width: 40px;
    height: 40px;
    margin: 20px 10px 0 0;
    object-fit: cover;
  }

  .main__form {
    padding: 20px;
  }

  .main__form_input {
    display: block;
  }

  .main__form_input button {
    width: 50%;
    margin: 20px 0 0;
  }
}

@media only screen and (max-width: 390px) {
  .main__title {
    width: 100%;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -2px;
  }

  .main__intro h2 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 24px;
  }

  .main__team h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .main__text {
    width: 100%;
  }

  .main__intro {
    display: block;
  }

  .main__intro_wrapper {
    width: 100%;
  }

  .main__team_wrapper {
    flex-direction: column;
    gap: 24px;
  }

  .main__team_wrapper img {
    width: 100%;
  }

  .main__team_socialnet {
    display: flex;
  }

  .main__team_socialnet img {
    width: 40px;
    height: 40px;
    margin: 20px 10px 0 0;
    object-fit: cover;
  }

  .main__form {
    padding: 20px;
  }

  .main__form_input {
    display: block;
  }

  .main__form_input button {
    width: 50%;
    margin: 20px 0 0;
  }
}
